html, body {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  //-webkit-box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  //box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  border-radius: 20px;
  background: #8D9CB5;
}

.button {
  text-align: center;
  line-height: 180%;
  border-radius: 0;
  outline: none !important;
  border: 1px solid transparent;
  box-shadow: none !important;
}

.button.button-primary {
  background: #E50913;
  font-weight: bold;
  font-size: 16.5455px;
  color: #FFFFFF;
  border-color: #E50913;
  padding: .375rem 1.2rem;
  border-radius: 0;
}

.button.button-secondary {
  background: #313238;
  font-weight: bold;
  font-size: 16.5455px;
  color: #FFFFFF;
  padding: .375rem 1.2rem;
  border-color: #313238;
  border-radius: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.copy-button {
  outline: none !important;
  border: 0px solid;
  width: 28px;
  height: 28px;
  background: #EAEBF6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;

  .icon {
    width: 16px;
  }
}

.modal-custom {
  .modal-header {
    border: 0px solid;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
    color: #313238;
  }

  .modal-dialog {
    max-width: 700px;
  }
}

.amount-field {
  display: flex;

  .range-buttons {
    margin-left: 10px;
    display: flex;

    button {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      text-align: right;
      color: #8D9CB5;
      padding: 10px;

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.form-field {
  display: flex;
  align-items: center;
  padding-bottom: 15px;

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    color: #2E3239;
    width: 150px;
  }

  input, .amount-field, textarea, .file-upload {
    max-width: 400px !important;
    flex: 1;
  }

  textarea {
    background: #F5F6FA;
    font-size: 14px;
    border-radius: 0;
    border: 0px solid;
    color: #8D9CB5;
  }
}

.not-matched {
  box-shadow: 0 0 0 0.2rem #e509134d !important;
}

.icon-button.info {
  padding-left: 5px;
  background: no-repeat;
  border: none;
  outline: none !important;

  .icon {
    width: 18px;
  }
}

.copy-section {
  position: relative;

  .copy-result {
    position: absolute;
    top: -15px;
    width: 100px;
    right: -30px;
    font-size: 10px;
  }
}

.result-header.success {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1CB76D;
}

.result-container {
  text-align: center;

  img {
    width: 85px;
  }

  .tx-hash {
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #1A73B4;
    padding: 15px 0;
    word-break: break-word;
  }

  .buttons .button {
    background: #FFFFFF;
    border: 1px solid #E3E5F4;
    width: 100px;
    padding: 10px;
  }
}

.note-section {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  background: #FEF5F6;
  align-items: center;

  .exclamation {
    padding-right: 25px;

    .icon {
      width: 24px;
    }
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 174%;
    color: #2E3239;
    margin: 0;
  }
}

.form-error {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #E50913;
  font-weight: 500;
}

.menmonic-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .form-control {
    width: 120px !important;
    border-radius: 0;
    margin: 5px;
    text-align: center;
    background: #F5F6FA;
    border-color: #F5F6FA;
    font-size: 14px;
    line-height: 150%;
    color: #2E3239;
  }

  .empty-mnemonic {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #2E3239;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #E3E5F4;

    &:focus {
      border-color: #E50913;
      box-shadow: none;
    }
  }
}