@media (min-width: 1600px)
{
  .container {
    max-width: 1540px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (max-width: 992px) {
  .validators-list-selection {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .form-field{
    display: block;
  }
  .form-field .label{
    width: auto;
    margin-bottom: 5px !important;
  }
  .amount-field{
    display: block;
    .range-buttons {
      padding-top: 10px;
    }
  }
  .import-wallet-body form .form-field .label{
    text-align: left;
  }
  .navbar .navbar-nav li .profile-dropdown, .header .navbar .navbar-nav li .dark-mode-button{
    padding: .5rem .7rem;
  }
}

@media (max-width: 576px) {
  .modal-custom {
    .modal-header {
      padding: 20px 0px;
      .heading{
        font-size: 14px;
      }
      .previous-section.txn-header button{
        left: 15px;
        line-height: normal;
        top: 20px;
        .icon{
          width: 14px;
        }
      }
      button.close{
        right: 15px;
        top: 20px;
        font-size: 28px;
      }
    }
  }
}
