@media (max-width: 1400px) {
  .wallet-main-section .txns-container table tbody, .validators-section table tbody {
    tr:first-child td{
      padding-top: 20px;
    }
    td{
      padding: 13px 20px;
    }
  }
}
@media (max-width: 1300px)
{
  .header .profile-section .profile-dropdown .dropdown-menu .info{
    padding: 20px 30px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px){
  .validators-section{
    height: calc(100vh - 321px);
  }
  .wallet-main-section .tabs-section .tab-content{
    height: calc(100vh - 375px);
  }
}
@media (max-width: 1400px) {
  .token-info-section .token-info-section-body{
    padding: 15px 0;
    .info-box{
      padding: 15px 20px;
    }
    .xprt-info .total-supply {
      font-size: 26px;
    }
  }
  .wallet-main-section .send-container{
    padding: 25px 60px;
  }
}
@media (max-width: 1200px) {
  .wallet-main-section .tabs-section .tab-content, .validators-section {
    padding: 30px 0px 0 0px;
    height: auto;
    overflow: auto;
    &::after {
      content:'';
      display:block;
      padding-bottom:30px;
    }
  }
  .content-section{
    overflow: auto;
  }
  .token-info-section .token-info-section-body {
    .info-box{
      padding: 10px 10px;
    }
    .xprt-info .total-supply {
      font-size: 18px;
    }
  }
}
@media (max-width: 991px){
  .token-info-section .token-info-section-body{
    display: block;
    padding-top: 0;
    .info-box{
      padding: 10px;
      border: 0px solid;
      &:nth-child(2){
        margin: 0;
        border: 1px solid;
        border-right: 0px solid;
        border-left: 0px solid;
      }
    }
   .xprt-info{
     padding-left: 10px !important;
   }
  }
  .wallet-main-section .send-container{
    padding: 25px;
    border: 0px solid;
    form,.form-section {
      .form-field{
        display: block;
      }
      .buttons {
        margin: 0;
      }
    }
  }
  .large-screen-logo{
    display: none;
  }
  .main-section .side-bar{
    width: 80px;
    .side-bar-links .item{
      padding: 15px 0px 15px 20px;
      .text{
        display: none;
      }
    }
  }
  .main-section .side-bar .header-section .logo span{
    font-size: 6px;
    bottom: -2px;
  }
}
@media (min-width: 992px) {
  .small-screen-logo {
    display: none;
  }
}
@media (max-width: 768px){
  .token-info-section .token-info-section-body{
    padding: 0  ;
  }
  .validators-section .info .info-name{
    font-size: 14px;
    line-height: normal;
  }
  .list-modal.modal-custom .list-modal-body{
    padding: 0 30px 30px 30px;
    .unbonding-schedule-list p{
      text-align: left;
    }
  }
}
@media (max-width: 576px){
  .validators-section .info .refresh-button {
      padding: 8px !important;
    right: 0;
  }
  .wallet-main-section .tabs-section{
    .nav-tabs .nav-link{
      padding: 0.6rem 0.6rem;
      font-size: 12px;
    }
    .refresh-button{
      padding: 8px !important;
    }
  }
  .token-info-section .token-info-section-body .info-box .line img{
    width: 75px;
  }
  .amount-field{
    flex-wrap: wrap;
    .range-buttons{
      padding-top: 10px;
    }
  }
  .wallet-main-section .receive-container{
    padding: 20px;
  }
  .header .profile-section .icon-profile{
    margin: 0;
  }
  .list-modal-body .unbonding-schedule-list{
    display: block;
  }
  .delegate-modal .delegate-modal-body .buttons .button{
    width: 140px;
    padding: 0.2rem 0.8rem;
  }
}

