@media (max-width: 992px) {
  .home-page .home-page-body .content {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .home-page .home-page-body {
    padding-top: 50px;

    .content .heading {
      font-size: 26px;
    }
  }
  .home-page .home-page-body .content .info-boxes .info-box p {
    padding: 15px;
  }
  .create-wallet-modal .modal-body .question-heading {
    margin-right: 75px;
  }
}

@media (max-width: 576px) {
  .home-page .home-page-body .content .info-boxes {
    flex-wrap: wrap;
  }
  .create-wallet-modal .modal-body .buttons .button.button-primary {
    width: 150px;
  }
  .create-wallet-modal .create-wallet-form-body form {
    padding: 20px 10px 0 10px;
  }
}