.create-wallet-modal{
  .modal-dialog {
    max-width: 600px !important;
  }
  .modal-content{
    border-radius: 0;
  }
  .modal-header{
    background: #F0F1F2;
    justify-content: center;
    p{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #2E3239;
      margin: 0;
    }
  }
.modal-body{
  padding: 40px;
  .question-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #2E3239;
  }
  .info-box{
    position: relative;
    padding: 15px;
    background: rgba(229, 9, 19, 0.04);
    p{
      font-weight: 500;
      font-size: 14px;
      line-height: 178.5%;
      color: #373D46;
    }
    .question-mark-box{
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      width: 55px;
      display: flex;
      height: 55px;
      position: absolute;
      align-items: center;
      justify-content: center;
      right: 20px;
      top: -40px;
      span{
        font-weight: 500;
        font-size: 48px;
        color: #E50913;
      }
    }
  }
  .buttons{
    padding-top: 30px;
    text-align: center;
    .button-secondary{
      float: left;
      padding: .375rem 0.8rem;
      background: #F0F1F2;
      border-color: transparent;
      .icon{
        width: 20px;
      }
    }
    .button.button-primary{
      width: 200px;
    }
  }
}
  .create-wallet-form-body{
    .heading{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: #2E3239;
      margin: 0;
    }
    .info{
      text-align: center;
      font-size: 14px;
      padding: 20px 0;
      color: #8D9CB5;
      span{
        text-decoration: underline;
        line-height: 150%;
        cursor: pointer;
        text-align: center;
        color: #E50913;
      }
    }
    form {
      padding-top: 30px;
      border: 1px solid #E3E5F4;
      max-width: 400px;
      margin: auto;
      .label {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #2E3239;
      }

      .form-group {
        text-align: center;

        input {
          max-width: 300px;
          margin: auto;
          background: #F5F6FA;
          font-size: 14px;
          line-height: 150%;
          height: calc(2.3em + .75rem + 2px);
          border-radius: 0;
          border: 0px solid;
          color: #8D9CB5;

          &::placeholder {
            font-size: 14px;
            line-height: 150%;
            color: #8D9CB5;
          }
        }
      }
    }
    .menmonic-list{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      .form-control {
        width: 120px !important;
        border-radius: 0;
        margin: 5px;
        text-align: center;
        background: #F5F6FA;
        border-color: #F5F6FA;
        font-size: 14px;
        line-height: 150%;
        color: #2E3239;
      }
    }
    .download-section {
      padding-top: 20px;
      .name{
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #2E3239;
        margin: 0;
      }
      .key-download {
        text-align: center;
        padding: 10px;
        background: rgba(233, 114, 28, 0.07);
        max-width: 350px;
        margin: auto;
        a{
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #E9721C !important;
        }
        .icon {
          width: 16px;
          transform: rotate(-90deg);
        }
      }
    }
    .note-section{
      display: flex;
      margin-top: 20px;
      padding: 20px;
      background: #FEF5F6;
      align-items: center;
      .exclamation {
        padding-right: 25px;
        .icon{
          width: 24px;
        }
      }
      p{font-weight: 500;
        font-size: 12px;
        line-height: 174%;
        color: #2E3239;
        margin: 0;
      }
    }
    .seed-section{
      .heading{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #2E3239;
      }
      .menmonic{
        word-spacing: 20px;
        padding-top: 20px;
        line-height: 2.2;
        text-align: center;
      }
    }
  }
}