.main-section {
  height: 100vh;

  .side-bar {
    background: #272931;
    width: 250px;

    .header-section {
      padding: 18px 20px 18px 30px;
      border-bottom: 1px solid #393A42;

      .logo {
        position: relative;

        .large-screen-logo {
          width: 125px;
        }

        span {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 9px;
          line-height: 13px;
          color: #FFFFFF;
          position: absolute;
          bottom: 5px;
        }
      }
    }

    .side-bar-links {
      padding: 10px 0 0 0;

      .item {
        padding: 15px 20px 15px 30px;;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        cursor: pointer;

        .icon-box {
          width: 38px;
          height: 38px;
          background: #393A42;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: 10px;
          padding: 0;

          .icon {
            width: 20px;
            height: 18px;
            fill: #5F646C;
          }
        }

        .text {
          font-weight: 600;
          font-size: 13px;
          font-family: 'Poppins', sans-serif;
          line-height: 19px;
          color: #BEBFC1;
        }

      }

      .item:hover, .item.active {

        .text {
          color: #FFFFFF;
        }

        .icon-box {
          background: #E50913;

          .icon {
            fill: #FFFFFF;
          }
        }
      }
    }
  }
}

.content-section {
  flex: 1;
  //overflow: auto;
}

.wallet-main-section {
  .tabs-section {
    position: relative;

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      background: transparent;
      color: #272931;
    }

    .nav-tabs .nav-link.active {
      border-bottom: 2px solid #272931;;
    }

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
      outline: none;
      border-bottom: 2px solid #272931;
    }

    .nav-tabs {
      border: 1px solid #dee2e6 !important;

      .ibc-tab {
        p {
          margin: 0;

          button {
            position: relative;

            .icon {
              position: absolute;
              left: 5px;
              right: 0px;
              bottom: -1px;
            }
          }
        }
      }

      .nav-link {
        border: 0px solid;
        border-radius: 0px;
        padding: 0.8rem 2rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color: #8D9CB5;

        &:nth-child(2) {
          border-left: 1px solid #EAEBF6;
          border-right: 1px solid #EAEBF6;
        }
      }
    }

    .tab-content {
      padding: 25px 0px 0 0px;
      position: relative;
      height: calc(100vh - 335px);
      overflow-y: auto;

      .tab-content {
        height: auto;

        &::after {
          padding-bottom: 0px;
        }
      }

      &::after {
        content: '';
        display: block;
        padding-bottom: 25px;
      }
    }
  }

  .send-container {
    border: 1px solid #E3E5F4;
    padding: 35px 100px;

    .form-error {
      text-align: left;
    }

    .form-section {
      max-width: 700px;

      .form-field {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding-bottom: 15px;

        .label {
          margin: 0 15px 0 0;
          width: 155px;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          font-family: 'Poppins', sans-serif;
          color: #2E3239;
        }

        .label.info {
          position: relative;

          button {
            position: absolute;
            bottom: 0px;

            .icon {
              width: 14px;
            }
          }
        }

        input {
          height: calc(2.3em + .75rem + 2px);
        }

        .form-control {
          max-width: 500px;
          background: #F5F6FA;
          font-size: 14px;
          line-height: 150%;
          border-radius: 0;
          border: 0px solid;
          color: #8D9CB5;

          &::placeholder {
            font-size: 14px;
            color: #8D9CB5;
          }
        }

      }

      .buttons {
        text-align: center;
        padding-top: 15px;

        .fee {
          text-align: left;
        }

        .button {
          min-width: 200px;
          max-width: 400px;
        }

        .fee-container {
          .fee-box {
            text-align: center;
          }
        }

        .select-gas {
          text-align: center;
        }

        .amount-field {
          text-align: left;
        }
      }
    }
  }

  .txns-container {
    .MuiFormControl-root {
      flex-direction: inherit;
    }

    .MuiButton-root {
      font-weight: 500;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      color: #8D9CB5;
    }

    .MuiPaper-elevation4 {
      box-shadow: none;
      border: 1px solid #E3E5F4;
    }

    .MUIDataTableToolbar-icon-22:hover, .MUIDataTableToolbar-iconActive-23 {
      color: #E50913;
    }

    table {
      thead {
        border-bottom: 1px solid #E3E5F4;

        th {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          font-family: 'Poppins', sans-serif;
          color: #8D9CB5;
          padding: 15px 20px;
          background: transparent !important;

          &:first-child {
            padding-left: 40px;
          }
        }
      }

      tbody {
        tr:first-child td {
          padding-top: 30px;
        }

        td {
          white-space: nowrap;
          font-size: 14px;
          line-height: 150%;
          padding: 15px 20px;

          &:first-child {
            padding-left: 40px;
            width: 150px;
          }
        }

        .result {

        }

        .type {
          color: #8D9CB5;
          font-family: 'Poppins', sans-serif;
        }

        .tx-hash {
          color: #1A73B4;
        }

        .type {
          color: #8D9CB5;
        }
        .amount{
          display: flex;
          align-items: center;
        }
        .amount, .fee, .time {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          color: #8D9CB5;
        }

        .height {
          color: #1A73B4;
        }
      }
    }

    .pagination-custom {
      display: flex;
      display: -webkit-flex;
      justify-content: flex-end;

      button {
        outline: none !important;
      }

      .page-number {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        font-size: 14px;
        line-height: 150%;
        font-family: 'Poppins', sans-serif;
        color: #8D9CB5;
      }
    }
  }

  .receive-container {
    text-align: center;
    border: 1px solid #E3E5F4;
    padding: 50px;

    .key {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      font-family: 'Poppins', sans-serif;
      color: #8D9CB5;
      margin: 0;
      padding: 20px 0 10px 0;
    }

    .address {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #2E3239;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      word-break: break-word;
    }
  }
}

.header {
  .navbar {
    .nav-menu-icon button {
      outline: none !important;
      padding: 0;
      min-width: 50px;
    }

    .navbar-nav li {
      cursor: pointer;

      a, .profile-dropdown, .dark-mode-button {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: .1em;
        color: #5F646C;
        padding: .5rem 1rem;

        .icon {
          fill: #5F646C;;
        }
      }

      .profile-dropdown {
        cursor: auto;

        a {
          padding: 0;
          cursor: pointer;
        }
      }

      a:hover, a.active, a:focus {
        .icon {
          fill: #e50913;
        }
      }
    }

  }

  .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    color: #313238;
  }

  .nav-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .nav-link {
      display: flex;
      display: -webkit-flex;
      align-items: center;
    }
  }


  .help-text {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: right;

    color: #cccccc;

    .icon {
      fill: #ffffff;
      margin-right: 5px;
      width: 14px;
      height: 14px;
    }
  }

  .profile-section {
    cursor: auto !important;
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
    }

    .profile-dropdown {
      .ledger-verify{
        background-color: #8d9cb5 !important;
        padding: 2px 10px !important;
        color: #ffffff;
        margin: 0 5px;
      }

      button {
        padding: 0;
        margin: 0;
        box-shadow: none !important;
        outline: none !important;
        background: none !important;
        border: none !important;
      }

      .dropdown-toggle::after {
        display: none;
      }

      .dropdown-menu {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border: 1px solid;
        padding: 0;
        border-radius: 0px;
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        margin: 0px !important;
        right: auto !important;
        bottom: auto !important;
        transform: translate(-215px, 42px) !important;


        .qr-box {
          width: 80px;
          height: 80px;
          margin: auto;

          canvas {
            width: 80px !important;
            height: 80px !important;
            padding: 5px;
            background: #FFFFFF;
          }
        }

        .info {
          text-align: center;
          padding: 20px 70px;

          .key {
            margin: 10px 0;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #8D9CB5;
          }

          p {
            text-align: center;
          }

          .address {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #1A73B4;
          }
        }

        .dropdown-footer {
          display: flex;
          display: -webkit-flex;
          border-top: 1px solid;

          .link-close {
            color: #E50913;
            cursor: pointer;
          }

          p {
            flex: 1;
            font-weight: 500;
            font-size: 12px;
            line-height: 180%;
            text-align: center;
            margin: 0;
            padding: 10px 10px;
            cursor: pointer;
            &:first-child {
              border-right: 1px solid;
            }
          }
        }
      }
    }
  }
}

.tab-header {
  .left {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .info-name {
      padding-right: 10px;
      margin: 0;
    }

    .nav-pills {
      .nav-link {
        margin: 0;
        padding: .3rem 1rem;
        border-radius: 0;
        background: none;
        font-weight: 500;
        font-size: 14px;
        color: #55678B;
        border: 1px solid;
      }

      .nav-link.active, .show > .nav-link {
        background: #E50913;
        border: 1px solid #E50913;
        color: #FFFFFF;
      }
    }
  }
}

.token-info-section {
  padding: 25px 0px 25px 0px;

  .token-info-section-body {
    display: flex;
    display: -webkit-flex;
    padding-top: 15px;
  }

  .info-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
  }

  .info-box {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 1px solid;

    &:nth-child(2) {
      //padding: 0px 20px;
      margin: 0 20px;
    }

    .line {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      padding-bottom: 10px;

      &:nth-child(3) {
        padding-bottom: 0;
      }

      .info-heading {
        font-weight: 500;
      }

      .info-heading.not-show {
        visibility: hidden;
      }

      img {
        padding-right: 15px;
      }

      p {
        font-family: 'Poppins', sans-serif;
        margin: 0;
      }

      .key {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #8D9CB5;
        font-family: 'Poppins', sans-serif;
        padding-right: 15px;
      }

      .value {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: right;
        font-family: 'Poppins', sans-serif;
      }

      .value.rewards {

        .text {
          color: #4FBE89;
          text-decoration: underline;
        }

        .claim {
          cursor: pointer;
          background: rgba(29, 158, 97, 0.15);
          color: #1D9E61;
          font-size: 12px;
          padding: 3px 10px;
          display: inline !important;
          margin-left: 5px;
        }
      }
    }

    .inner-box {
      flex: 1;
    }

    .line .value {
      position: relative;
      min-width: 50px;

      .loader {
        width: 32px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .xprt-info {
    .total-supply {
      font-weight: 800;
      font-size: 32px;
      line-height: 150%;
      text-align: right;
      color: #2E3239;
    }
  }
}

.validators-section {
  border-top: 1px solid #E3E5F4;
  padding: 30px 10px;
  position: relative;
  height: calc(100vh - 281px);
  overflow-y: scroll;

  .info {
    display: flex;
    display: -webkit-flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .info-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      font-family: 'Poppins', sans-serif;
    }

    .info-value {
      font-weight: 500;
      margin: 0;
      font-size: 14px;
      line-height: 150%;
      font-family: 'Poppins', sans-serif;
      color: #2E3239;

      span {
        color: #8D9CB5;
      }
    }

    .refresh-button {
      top: -5px;
    }
  }

  .MuiFormControl-root {
    flex-direction: inherit;
  }

  .MuiButton-root {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #8D9CB5;
  }

  .MuiPaper-elevation4 {
    box-shadow: none;
    border: 1px solid #E3E5F4;
  }

  .MUIDataTableToolbar-icon-153:hover, .MUIDataTableToolbar-iconActive-154 {
    color: #E50913;
  }

  table {
    border: 1px solid #E3E5F4;

    thead {
      border-bottom: 1px solid #E3E5F4;

      th {
        padding: 15px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #8D9CB5 !important;
        font-family: 'Poppins', sans-serif;
        background: transparent !important;

        span button {
          outline: none !important;
        }

        &:first-child {
          padding-left: 40px;
        }
      }
    }

    tbody {
      td {
        font-size: 14px;
        line-height: 150%;
        padding: 15px 20px;
        font-family: 'Poppins', sans-serif;

        .moniker-image {
          margin-right: 10px;
          width: 23px;
          border-radius: 50%;
        }
      .validator-name{
        font-size: 14px;
        line-height: 150%;
        color: #1A73B4;
      }
        &:first-child {
          align-items: center;
          padding-left: 40px;

        }
      }
    }

    tr {
      &:first-child {
        td {
          padding-top: 30px;
        }
      }
    }
  }
}

.delegate-modal {
  .delegate-modal-body {
    padding: 10px 40px 40px 40px;

    form {
      input, .amount-field, textarea {
        max-width: 400px;
        flex: 1;
      }

      textarea {
        font-size: 14px;
        border-radius: 0;
        border: 0px solid;
        color: #8D9CB5;
      }

      input {
        margin: 0;
        font-size: 14px;
        line-height: 150%;
        height: calc(2.3em + .75rem + 2px);
        border-radius: 0;
        border: 0px solid;
        color: #8D9CB5;

        &::placeholder {
          font-size: 14px;
          color: #8D9CB5;
        }
      }
    }

    .buttons {
      padding-top: 20px;
      text-align: center;

      .button {
        width: 200px;
      }
    }

  }
}

.claim-rewards-modal {
  .rewards-modal-body {
    padding: 10px 40px 40px 40px;

    input, .amount-field, textarea {
      max-width: 450px;
      flex: 1;
    }

    textarea {
      background: #F5F6FA;
      font-size: 14px;
      border-radius: 0;
      border: 0px solid;
      color: #8D9CB5;
    }

    input {
      margin: 0;
      background: #F5F6FA;
      font-size: 14px;
      line-height: 150%;
      height: calc(2.3em + .75rem + 2px);
      border-radius: 0;
      border: 0px solid;
      color: #8D9CB5;

      &::placeholder {
        font-size: 14px;
        color: #8D9CB5;
      }
    }

    .buttons {
      padding-top: 15px;
      text-align: center;

      .button {
        width: 200px;
      }
    }

    .available-tokens {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      font-family: 'Poppins', sans-serif;

      p {
        margin: 0;
      }

      .tokens {
        padding: 0px 10px 0 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #2E3239;

        span {
          font-weight: 500;
          color: #8D9CB5;
        }
      }

      .usd {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }

      .view {
        cursor: pointer;
        text-decoration: underline;
        margin: 0 10px;
        font-weight: 500;
        color: #e50913;
      }
    }
  }

}

.faq-modal-body {
  .nav-pills {
    justify-content: center;
    padding: 20px 0;

    .box {
      .nav-link.active, .show > .nav-link {
        border: 1px solid #E50913 !important;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08) !important;

        .icon {
          fill: #E50913 !important;
        }
      }

      .nav-link {
        padding: 15px 30px;
        text-align: center;
        background: none !important;
        border: 1px solid;
        margin-right: 15px;

      }

      p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        text-align: center;
        padding-top: 15px;
      }

      .icon {
        width: 28px;
      }
    }
  }

  .tab-content {
    max-height: 300px;
    overflow: auto;
  }

  .accordion {
    .card {
      border: 0px solid;
      border-bottom: 1px solid;
      border-radius: 0px;
      background: transparent;
    }

    .card-header {
      display: flex;
      display: -webkit-flex;
      border: 0px solid;
      background: transparent;
      justify-content: space-between;

      p {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #2E3239;
      }

      button {
        border: 0px solid;
        outline: none;
        background: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #8D9CB5;
      }
    }

    .card-body {
      padding-top: 0;

      ul li {
        font-weight: normal;
        font-size: 13px;
        line-height: 183.5%;
        margin: 0;
        color: #5F646C;
      }

      p {
        font-weight: normal;
        font-size: 13px;
        line-height: 183.5%;
        margin: 0;
      }
    }
  }
}

.more-dropdown {
  button {
    background-color: #E50913 !important;
    border: 0px solid !important;
    box-shadow: none !important;
    outline: none !important;

    &::after {
      display: none;
    }
  }

  .dropdown-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #8D9CB5;
  }

  .dropdown-item.active, .dropdown-item:active {
    background: transparent;
    color: #2E3239;
  }
}

.actions-td {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 0px 20px !important;

  .show.dropdown {
    .button.button-primary {
      .icon {
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }
    }
  }

  .button.button-primary {
    padding: 0.2rem 0.6rem;
    font-size: 12px;
    white-space: nowrap;

    .icon {
      width: 14px;
      transform: rotate(-90deg);
      transition: transform 0.1s linear;
      margin-bottom: 1px;
    }
  }

  .dropdown-menu.show {
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    margin: 0px !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-129px, 33px) !important;
  }
}

.actions-modal {
  .actions-modal-body {
    padding: 30px;

    .moniker-box {
      display: flex;
      display: -webkit-flex;
      align-items: center;

      img {
        width: 60px;
        margin-right: 20px;
      }

      .info {
        padding: 10px 0;

        .name {
          margin: 0;
          font-size: 20px;
          font-weight: 500;
          font-family: 'Poppins', sans-serif;
        }

        .commission {
          font-size: 12px;
          margin: 0;
        }
      }

    }

    .website {
      padding: 20px 0 10px 0;

      .name {
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
        margin-bottom: 3px;
      }

      .value {
        margin: 0;
      }
    }

    .description {
      padding: 10px 0 10px 0;

      .name {
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
        margin-bottom: 3px;
      }

      .value {
        margin: 0;
      }
    }

    .buttons-group {
      padding-top: 15px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      flex-wrap: wrap;

      .button-primary {
        margin: 5px;
      }

      .btn-group {
        margin: 5px;

        .btn-main {
          background: #E50913;
          line-height: 180%;
          font-weight: bold;
          font-size: 16.5455px;
          color: #FFFFFF;
          padding: .375rem 1.2rem;
          border-radius: 0;
          outline: none !important;
          border: 1px solid #E50913;
          box-shadow: none !important;
        }

        .btn-success {
          background-color: #be050ef7 !important;
          border-color: #be050ef7 !important;

        }

        .btn-success:focus, .btn-success:active {
          box-shadow: 0 0 0 0.2rem #e5091340 !important;
        }
      }

      .dropdown-menu {
        .dropdown-item {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #8D9CB5;
        }

        .dropdown-item.active, .dropdown-item:active {
          background: transparent;
          color: #2E3239;
        }
      }
    }
  }
}

.sign-in-buttons {
  button {
    width: 250px !important;
  }
}

.rdt_TableBody {
  .rdt_TableRow:first-child .rdt_TableCell {
    padding-top: 30px;
  }

  .rdt_TableRow .rdt_TableCell {
    white-space: nowrap;
    font-size: 14px;
    line-height: 150%;
    padding: 15px 20px;

    &:first-child {
      padding-left: 40px;
      width: 150px;
    }
  }
}

.rewards-validators-list {
  & > div {
    width: 100%;
    max-width: 400px !important;

    button {
      width: 100%;
      background: #F5F6FA;
      height: calc(2.3em + .75rem + 2px);
      box-shadow: none;
    }

    & > div:nth-child(2) {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      width: 100%;
    }
  }

  input[type=checkbox], input {
    height: auto !important;
  }
}

.claim-check-box {
  padding: 0;

  input[type=checkbox], input {
    height: auto !important;
  }

  .check-box-container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 10px 10px 0 0;

    .label {
      width: auto;
      margin-right: 15px;
    }

    input {
      width: auto;
      flex: none;
    }
  }
}

.memo-container {
  .form-field {
    padding-top: 15px;
  }
}

.validator-limit-warning {
  .amount-warning {
    padding-top: 10px;
    text-align: left;
  }
}
