.header .navbar .header-logo {
  width: 120px;
  height: 30px;
  display: block;
}

.dark-mode .header .navbar .header-logo {
  background: url(../../../src/assets/images/footer_logo.svg) no-repeat;
background-size: contain;
}

.light-mode .header .navbar .header-logo {
  background: url(../../../src/assets/images/footer_logo.svg) no-repeat;
background-size: contain;
}

.dashboard .navbar-expand-lg .navbar-nav, .dashboard .navbar-nav {
  flex-direction: row !important;
}

.sidebar-section {
  height: 100%;

  .mobile-sidebar-container {
    .nav-item {
      .nav-link {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: flex-start;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: .1em;
        color: #c2c2c2;

        .icon {
          fill: #c2c2c2;
        }
      }

      a:hover, a.active, a:focus {
        color: #ffc942 !important;

        .icon {
          fill: #ffc942;
        }
      }
    }

    .icon-container {
      color: rgba(0, 0, 0, 0.54);
      display: inline-flex;
      min-width: 56px;
      flex-shrink: 0;
    }
  }
}

.dark-mode .navbar {
  .nav-menu-icon {
    outline: none !important;

    svg {
      fill: #c2c2c2;
    }
  }
}

.light-mode .navbar {
  .nav-menu-icon {
    outline: none !important;

    svg {
      fill: #2E3239;
    }
  }
}
