.footer {
  .resources {
    margin-top: 30px;
  }

  background: #262B35 !important;
  padding: 80px 0 0 0;

  .footer-list li a, .footer-list li .inactive {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.31;
    color: #70747C;
  }

  .email {
    margin-bottom: 20px;
  }

  .footer-list li {
    margin: 10px 0;

    a span.mdi {
      color: #a9a9a9;
      font-size: 20px;

      img {
        width: 17px;
      }
    }
  }

  .dark-logo {
    width: 200px;
    margin-bottom: 20px;
  }

  h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.314;
    color: #FFFFFF;
  }

  .copy-rights {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.314;
    color: #70747C;
  }

  .contact-box .mail-chimp-section input {
    background: #1D2129;
    border: 0px solid;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 12px;
    color: #dee2e6;
  }

  .subscription-result {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .btn-subscribe {
    opacity: 1 !important;
    width: 102px;
    background: #E50913 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08) !important;
    border-radius: 0px !important;
    border: 0px solid !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 1.8 !important;
    text-align: center !important;
    color: #FFFFFF !important;
    padding: 8px 20px !important;
  }

  .footer-text {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.31;
    color: #70747C;
  }

  .social-links-section {
    ul {
      display: flex;
      display: -webkit-flex;
      margin-top: 20px;
      flex-wrap: wrap;
    }

    padding-top: 15px;

    a {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      background: #363B46;

      .icon {
        width: 12px;
        fill: #FFFFFF;
      }

      &:hover {
        background: #525967;
      }
    }
  }

  .footer-bottom-section {
    margin-top: 20px;
    border-top: 1px solid #313238
  }

  .footer-logo-section {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    .dark-logo {
      height: 20px;
      width: 100px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .contact-us {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex: 1;

    .mail-chimp-section {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      margin: 10px 0 20px 0;

      input {
        width: 100%;
      }
    }
  }
}

.show-message {
  animation: hide-animation 10s ease-in 0s;
  visibility: hidden;
}

@keyframes hide-animation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.heading.copy {
  justify-content: center;
  display: flex;
  display: -webkit-flex;
}

.refresh-button {
  outline: none !important;
  position: absolute !important;
  top: 3px;
  right: 12px;
}

@keyframes rotate {

  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }

}

.refresh-start svg {

  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;

}


.network-check {
  position: absolute;
  width: 100%;
  background: #dee2e6f0;
  z-index: 999;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  p {
    margin: 0;
  }
}

.stage {
  position: relative;
  width: 500px;
  height: 280px;
}

.bouncer-holder {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.1;
}

.bouncer-holder {
  -webkit-animation: travel 3s ease-in infinite alternate;
  -o-animation: travel 3s ease-in infinite alternate;
  animation: travel 3s ease-in infinite alternate;
}

.bouncer {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  //background: #E3287D;
  //background: -webkit-radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), #E3287D 50%) #E3287D;
  //background: -moz-radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), #E3287D 50%) #E3287D;
  //background: -o-radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), #E3287D 50%) #E3287D;
  //background: -ms-radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), #E3287D 50%) #E3287D;
  //background: radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), #E3287D 50%) #E3287D;
  -webkit-animation: bounce 3.5s infinite;
  -o-animation: bounce 3.5s infinite;
  animation: bounce 3.5s infinite;
}

@-webkit-keyframes travel {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 30px)
  }
}

@keyframes travel {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 30px)
  }
}

@-webkit-keyframes bounce {
  from, to {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    bottom: 220px;
    -webkit-animation-timing-function: ease-in;
  }
}

@keyframes bounce {
  from, to {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: calc(100% - 30px);
    animation-timing-function: ease-in;
  }
}

.list-modal-body {
  width: 100%;
  margin: auto;

  .unbonding-schedule-list-header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 15px 20px;

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      margin: 0;
      color: #8D9CB5;
    }
  }

  .unbonding-schedule-list {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 10px 20px;

    &:hover {
      background: rgba(0,0,0,.075);
    }

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: right;
      margin: 0;
    }

    .amount {
      font-weight: 500;
    }
  }
}

.icon-button {
  cursor: pointer;
}

.kepler-modal {
  .modal-dialog {
    max-width: 500px;
  }

  .kepler-modal-body {
    padding: 40px;

    p {
      text-align: center;
    }

    .installed-note {
      padding: 20px 0;
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
    }

    .chrome-box {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: center;

      .chrome-link {
        padding: 20px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 160px;
        border-radius: 6px;
        box-shadow: 0 0 32px 0 rgba(136, 152, 170, 0.15);
        border: solid 1px rgba(0, 0, 0, 0.05);

        p {
          font-size: 16px;
          line-height: 1.75;
          letter-spacing: -0.3px;
          text-align: center;
          color: #525f7f;
        }
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.dark-mode-button {
  background: transparent;
  border: 0;
  outline: none !important;

  .icon {
    width: 18px;
  }
}

.modal-list-data li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8D9CB5;
  word-break: break-word;
}

.memo-dropdown-section {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding-top: 10px;
}

.memo-dropdown {
  margin: 0;
  text-align: center;
  cursor: pointer;

  .text {
    font-weight: 500;
    font-size: 14px;
    color: #8D9CB5;
  }

  .icon {
    width: 20px;
  }
}

.zero-fee-modal {
  .modal-dialog {
    max-width: 500px !important;

    .modal-content {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
