.home-page.pageError {
  height: 100vh;

  .text-container {
    height: calc(100vh - 78px);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;

    h3 {
      color: #ffffff;
    }
  }
}
