// variables
$am-yellow-100: #ffc640;
$am-yellow-200: #f2af13;
$am-yellow-800: #624d19;
$am-yellow-900: #f3af121a;
$am-white-100: #fffdfa; //
$am-white-200: #fffdfa80; //
$am-white-300: #b0b0b0; //
$am-white-400: #fffdfa80;
$am-gray-100: #5f5d5a;
$am-gray-200: #252525;
$am-gray-300: #2e2e2e;
$am-gray-400: #282826;
$am-gray-500: #2f2f2b;
$am-gray-600: #2c2c2c;
$am-gray-700: #21211e;
$am-gray-800: #21211ed9;
$am-dark-100: #050505d9;
$am-dark-200: #111111;
$am-dark-300: #040404cc;
$am-dark-400: #030301;
$am-blue-100: #6fb4b5;
$am-success: #148919;
$am-error: #e44651;

// bgs
.bg-am-yellow-100 {
  background-color: $am-yellow-100;
}
.bg-am-yellow-200 {
  background-color: $am-yellow-200;
}
.bg-am-yellow-800 {
  background-color: $am-yellow-800;
}
.bg-am-yellow-900 {
  background-color: $am-yellow-900;
}
.bg-am-white-100 {
  background-color: $am-white-100;
}
.bg-am-white-200 {
  background-color: $am-white-200;
}
.bg-am-white-300 {
  background-color: $am-white-300;
}
.bg-am-white-400 {
  background-color: $am-white-400;
}
.bg-am-gray-100 {
  background-color: $am-gray-100;
}
.bg-am-gray-200 {
  background-color: $am-gray-200;
}
.bg-am-gray-300 {
  background-color: $am-gray-300;
}
.bg-am-gray-400 {
  background-color: $am-gray-400;
}
.bg-am-gray-500 {
  background-color: $am-gray-500;
}
.bg-am-gray-600 {
  background-color: $am-gray-600;
}
.bg-am-gray-700 {
  background-color: $am-gray-700;
}
.bg-am-gray-800 {
  background-color: $am-gray-800;
}
.bg-am-dark-100 {
  background-color: $am-dark-100;
}
.bg-am-dark-200 {
  background-color: $am-dark-200;
}
.bg-am-dark-300 {
  background-color: $am-dark-300;
}
.bg-am-dark-400 {
  background-color: $am-dark-400;
}
.bg-am-blue-100 {
  background-color: $am-blue-100;
}
.bg-am-success {
  background-color: $am-success;
}
.bg-am-error {
  background-color: $am-error;
}

// colors
.color-am-yellow-100 {
  color: $am-yellow-100;
}
.color-am-yellow-200 {
  color: $am-yellow-200;
}
.color-am-yellow-800 {
  color: $am-yellow-800;
}
.color-am-yellow-900 {
  color: $am-yellow-900;
}
.color-am-white-100 {
  color: $am-white-100;
}
.color-am-white-200 {
  color: $am-white-200;
}
.color-am-white-300 {
  color: $am-white-300;
}
.color-am-white-400 {
  color: $am-white-400;
}
.color-am-gray-100 {
  color: $am-gray-100;
}
.color-am-gray-200 {
  color: $am-gray-200;
}
.color-am-gray-300 {
  color: $am-gray-300;
}
.color-am-gray-400 {
  color: $am-gray-400;
}
.color-am-gray-500 {
  color: $am-gray-500;
}
.color-am-gray-600 {
  color: $am-gray-600;
}
.color-am-gray-700 {
  color: $am-gray-700;
}
.color-am-gray-800 {
  color: $am-gray-800;
}
.color-am-dark-100 {
  color: $am-dark-100;
}
.color-am-dark-200 {
  color: $am-dark-200;
}
.color-am-dark-300 {
  color: $am-dark-300;
}
.color-am-dark-400 {
  color: $am-dark-400;
}
.color-am-blue-100 {
  color: $am-blue-100;
}
.color-am-success {
  color: $am-success;
}
.color-am-error {
  color: $am-error;
}
