@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@200;400;500;600;700;800;900&display=swap");
// variables
$yellow-100: #ffc640;
$yellow-200: #f2af13;
$yellow-800: #624d19;
$yellow-900: #f3af121a;

$white-100: #fffdfa;
$white-200: #fffdfa80;
$white-300: #b0b0b0;
$white-400: #fffdfa80;

$gray-100: #5f5d5a;
$gray-200: #252525;
$gray-300: #2e2e2e;
$gray-400: #282826;
$gray-500: #2f2f2b;
$gray-600: #2c2c2c;
$gray-700: #21211e;
$gray-800: #21211ed9;

$dark-100: #050505d9;
$dark-200: #111111;
$dark-300: #040404cc;
$dark-400: #030301;

$success: #148919;
$error: #e44651;

$nav-bg: $dark-300;
$primary-light: $white-100;
$primary-main: $yellow-100;
$primary-dark: $yellow-200;
$primary-disabled: $yellow-800;

$secondary-light: $white-200;
$secondary-main: $white-300;
$secondary-dark: $white-400;
$secondary-disable: $gray-100;

$background-default: $dark-200;
$background-radial: radial-gradient(
  50% 50% at 50% 50%,
  $yellow-100 47.4%,
  $yellow-200 100%
);
$background-selected-tag: $yellow-900;

* {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    color: $primary-dark;
  }
  &::-webkit-scrollbar-thumb {
    border: 5px solid $primary-dark;
    border-radius: 4px;
    background: transparent;
  }
}

body {
  background-color: $dark-200 !important;
  color: $primary-light;
  font-size: 14px;
}

.my-16 {
  margin-top: 128px;
  margin-bottom: 128px;
}
.py-6 {
  padding-top: 68px;
  padding-top: 68px;
}
// text sizes
@mixin fontRoot($family, $weight, $size) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  font-style: normal;
  line-height: 120%;
  font-feature-settings: "kern" off;
  color: $primary-light;
  @media (max-width: 548px) {
    font-size: calc($size / 1.2);
  }
  @media (max-width: 358px) {
    font-size: calc($size / 2);
  }
}

.h1 {
  @include fontRoot("Roboto", 700, 4rem);
}
.h2 {
  @include fontRoot("Roboto", 700, 3.5rem);
  line-height: 1;
}
.h3 {
  @include fontRoot("Roboto", 700, 2rem);
}
.h4 {
  @include fontRoot("Roboto", 700, 1.8rem);
}
.subtitle1 {
  @include fontRoot("Roboto", 200, 2rem);
  line-height: 120%;
}
.subtitle2 {
  @include fontRoot("Roboto", 200, 1.7rem);
  line-height: 120%;
}
.body1 {
  @include fontRoot("Roboto", 300, 1.4rem);
  line-height: 150%;
}
.body2 {
  @include fontRoot("Roboto", 300, 1.2rem);
  line-height: 150%;
}
.caption {
  @include fontRoot("Roboto", 300, 1rem);
  line-height: 100%;
}
.caption2 {
  @include fontRoot("Roboto", 300, 0.8rem);
  line-height: 100%;
}

.gradient-text {
  font-feature-settings: "liga" off;
  background: linear-gradient(90deg, #ff930f 0%, #5427d6 93.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
a:hover {
  color: $primary-light;
  text-decoration: none;
}
// buttons
@mixin buttonRoot($bg, $disBG, $color, $discolor) {
  @include fontRoot("Lato", 600, 16px);
  font-feature-settings: "liga" off;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid;
  border-radius: 32px;
  background-color: $bg;
  border-color: $primary-main;
  color: $color;
  &:disabled {
    color: $discolor;
    background-color: $disBG;
    border-color: $primary-disabled;
  }
  &:hover {
    color: $color !important;
    background-color: $bg !important;
    border: 1px solid $primary-main !important;
    box-shadow: 0px 0px 10px $yellow-800 !important;
  }
}
@mixin LinkRoot {
  @include fontRoot("Roboto", 700, 14px);
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "liga" off;
  color: $primary-main;
  &:disabled {
    color: $primary-disabled;
  }
  &:hover {
    color: $primary-main !important;
  }
}

.button-primary {
  @include buttonRoot($primary-main, $primary-disabled, $gray-600, $gray-600);
  max-width: max-content;
}
.button-secondary {
  @include buttonRoot(
    "transparent",
    "transparent",
    $primary-main,
    $primary-disabled
  );
}

.am-link {
  @include LinkRoot();
}

.am-nav-item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 115%;
    height: 2.5px;
    background-color: $primary-main;
    transform: translateX(-50%) translateY(190%) scaleX(0);
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    transform-origin: left;
  }
  &:hover {
    & > span {
      color: $primary-main;
    }
    &::after {
      transform: translateX(-50%) translateY(190%) scaleX(1);
    }
  }
  &.active {
    color: $primary-main !important;
    & > span {
      color: $primary-main !important;
    }
    &::after {
      transform: translateX(-50%) translateY(190%) scaleX(1);
    }
  }
}

// customs as needed
// globally
.nav-bg {
  background-color: $nav-bg;
}
.bg-theme-white {
  background-color: $primary-light !important;
}
.bg-t {
  background-color: transparent !important;
}
.bg-gray-800 {
  background-color: $gray-800;
}
.bg-yellow-100 {
  background-color: $yellow-100;
}
.bg-yellow-100-hover {
  &:hover {
    background-color: $yellow-100;
    color: $dark-200 !important;
  }
}
.bg-translucent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}
.text-white {
  color: $primary-light !important;
}
.text-gray {
  color: $gray-100;
}
.text-dark {
  color: $dark-400;
}
.text-primary {
  color: $primary-main !important;
}
.text-error {
  color: $error;
}
.border-color-light_gray {
  border-color: $gray-100;
}
.overflow-y {
  overflow: hidden;
  overflow-x: auto;
}
.ratio-16x9 {
  aspect-ratio: 16/9;
}
.after-none {
  &::after {
    display: none;
  }
}
.card {
  border: none;
}

.text-hover-main {
  &:hover {
    color: $primary-main;
  }
}
.hover-dark-100 {
  &:hover {
    background-color: $dark-100 !important;
  }
}
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.am-collapse {
  &:first-child {
    border-radius: 16px 16px 0 0;
  }
  &:last-child {
    border-radius: 0 0 16px 16px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $secondary-light;
  }
  &[open] {
    margin-top: 12px;
    margin-bottom: 12px;
    border: transparent;
    border-radius: 4px;
    summary + p {
      margin: 12px 0;
    }
  }
}
hr {
  border: none;
  height: 2px !important;
  background-color: $white-400 !important;
  border-radius: 4px !important;
}
.am-input {
  border: 1px solid $gray-200;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
  }
}
.am-select {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid $gray-200;
  outline: none;
  color: $primary-main;
  & > option {
    background-color: $gray-800;
    padding: 8px 16px;
    border-radius: 0;
    &:hover {
      color: $gray-800;
      background-color: $primary-main;
    }
  }
}
.transitionAll {
  transition: all 0.3s ease-in-out;
}
.hoverShowChild {
  cursor: pointer;
  &:hover {
    & > * {
      display: flex !important;
    }
  }
}

// specific styles
.box-nav {
  border: 2px solid $gray-500;
  border-radius: 4px;
  &-item {
    color: $primary-light;
    &.active {
      background-color: $primary-main;
      color: $gray-600;
      &:hover {
        color: $gray-600 !important;
      }
      & > span {
        color: $gray-600 !important;
      }
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:not(:last-child) {
      border-right: 2px solid $gray-500;
    }
  }
}
.fixed-height {
  height: 100vh;
  @media (max-width: 548px) {
    height: auto;
  }
}

.after-none {
  &::after {
    display: none;
  }
}

summary::marker {
  display: none;
}

.featuredNFT-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    &-details {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        0deg,
        #000,
        transparent 70%,
        transparent
      );
    }
  }
}

.featured-creator {
  width: 100%;
  .swiper-slide {
    width: 350px;
    aspect-ratio: 4/5;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slide__active__contents {
      display: none;
    }
    @media (max-width: 420px) {
      width: 90%;
    }
  }
  .swiper-slide.swiper-slide-visible.swiper-slide-active {
    .slide__active__contents {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        #000000 0%,
        rgba(129, 129, 129, 0) 39.58%
      );
      &__container {
        text-decoration: none;
        &_image {
          width: 65px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
        &_details {
          h4 {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $yellow-100;
    @media (min-width: 549px) {
      top: 55%;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(129, 129, 129, 0) 100%
      );
      transform: translateY(-50%);
      left: -1px;
      right: auto;
      width: 100px;
      height: 75%;
      background-position: top left;
      background-repeat: no-repeat repeat;
      background-size: contain;
      display: flex;
      justify-content: flex-start;
      &::after {
        content: "";
        margin-left: 29px;
        width: 24.02px;
        height: 58.45px;
        background-image: url("/featuredCreators/left.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .swiper-button-next {
    @media (min-width: 549px) {
      left: auto;
      right: -1px;
      justify-content: flex-end;
      background: linear-gradient(
        -90deg,
        #000000 0%,
        rgba(129, 129, 129, 0) 100%
      );
      &::after {
        margin-right: 29px;
        background-image: url("/featuredCreators/right.svg");
      }
    }
  }
}

.social_proof-hover {
  &:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.am-splide-container {
  .splide__pagination {
    gap: 8px;
    bottom: -20px;
  }
  .splide__pagination__page {
    transform: scale(1.6);
  }
  .splide__pagination__page.is-active {
    background-color: $primary-main;
    transform: scale(2);
  }
  .splide__arrow {
    color: $primary-main;
    font-size: 24px;
    transform: translateX(70%) translateY(-50%) !important;
    @media (min-width: 548px) {
      font-size: 36px;
      transform: translateX(130%) translateY(-50%) !important;
    }
    &.splide__arrow--prev {
      left: -2em;
      @media (min-width: 548px) {
        left: -4em;
      }
    }
  }
}

.search-input {
  border: 1px solid;
  border-color: $white-400;

  &:hover {
    border-color: $white-100;
  }
  &:focus {
    border-color: $primary-main !important;
  }
  & > input {
    border: none;
    box-shadow: none !important;
  }
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none !important;
  position: relative;
  box-shadow: none !important;
}

tbody {
  & > tr {
    &:last-child td,
    &:last-child th {
      border: 0;
    }
  }
}

.no-marker {
  &::marker {
    content: "";
  }
}
