@import "./colors";

$am-nav-bg: $am-dark-300;
$am-primary-light: $am-white-100;
$am-primary-main: $am-yellow-100;
$am-primary-dark: $am-yellow-200;
$am-primary-disabled: $am-yellow-800;

$am-secondary-light: $am-white-200;
$am-secondary-main: $am-white-300;
$am-secondary-dark: $am-white-400;
$am-secondary-disable: $am-gray-100;

$am-background-default: $am-dark-200;
$am-background-radial: radial-gradient(
  50% 50% at 50% 50%,
  $am-yellow-100 47.4%,
  $am-yellow-200 100%
);
$am-background-selected-tag: $am-yellow-900;
$am-card-bg: $am-gray-800;
$am-modal-content-bg: $am-gray-400;
$am-text-muted: $am-white-400;

$am-fontPrimary: "Work Sans", sans-serif;
$am-fontSecondary: "Lato", sans-serif;

* {
  scroll-behavior: smooth;
  box-sizing: border-box !important;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    color: $am-primary-dark;
  }
  &::-webkit-scrollbar-thumb {
    border: 5px solid $am-primary-dark;
    border-radius: 4px;
    background: transparent;
  }
}

input {
  color: $am-primary-light;
  &::placeholder {
    color: $am-gray-100 !important;
  }
}

.my-16 {
  margin-top: 128px;
  margin-bottom: 128px;
}
.py-6 {
  padding-top: 68px;
  padding-top: 68px;
}
.h-90 {
  height: 90% !important;
}
.am_app_container {
  overflow: hidden;
  height: 100dvh;
}
// text sizes
@mixin fontRoot($weight, $size, $fontFamily: $am-fontPrimary) {
  font-family: $fontFamily;
  font-weight: $weight;
  font-size: $size;
  font-style: normal;
  line-height: 120%;
  font-feature-settings: "kern" off;
  @media (max-width: 548px) {
    font-size: calc($size / 1.1);
  }
  @media (max-width: 358px) {
    font-size: calc($size / 1.6);
  }
}
.lato {
  font-family: $am-fontSecondary;
  line-height: 120%;
}
.label-primary {
  @include fontRoot(500, 0.75rem);
}
.label-secondary {
  @include fontRoot(500, 0.75rem, $am-fontSecondary);
}
.gradient-text {
  font-feature-settings: "liga" off;
  background: linear-gradient(90deg, #ff930f 0%, #5427d6 93.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.am-nav-item {
  position: relative;
  color: $am-white-300;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 110%;
    height: 2.5px;
    margin: 0 !important;
    vertical-align: unset !important;
    border: 0 !important;
    background-color: $am-primary-main;
    transform: translateX(-50%) translateY(510%) scaleX(0);
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    transform-origin: left;
  }
  &:hover {
    color: $am-primary-main;
    & > span {
      color: $am-primary-main;
    }
    &::after {
      transform: translateX(-50%) translateY(20px) scaleX(1);
      @media (max-width: 1200px) {
        transform: translateX(-50%) translateY(10px) scaleX(1);
      }
    }
  }
  &.active {
    color: $am-primary-main !important;
    & > span {
      color: $am-primary-main !important;
    }
    &::after {
      transform: translateX(-50%) translateY(20px) scaleX(1);
      @media (max-width: 1200px) {
        transform: translateX(-50%) translateY(10px) scaleX(1);
      }
    }
  }
}
.am-connect {
  border-color: $am-primary-light;
  color: $am-primary-light;
  &:hover {
    border-color: $am-primary-main;
    color: $am-primary-main;
  }
}

.am-progress {
  width: 100%;
  height: 10px;
  &-bar {
    height: 100%;
  }
}

.bg-yellow-100-hover {
  &:hover {
    background-color: $am-yellow-100;
    color: $am-dark-200 !important;
  }
}
.bg-translucent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}
.hover-dark-100 {
  &:hover {
    background-color: $am-dark-100 !important;
  }
}
.border-color-primary-hover {
  border: 2px solid;
  border-color: transparent;
  &:hover {
    border-color: $am-primary-main;
  }
}
.card {
  border: none;
}
.am-select {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid $am-gray-200;
  outline: none;
  color: $am-primary-main;
  & > option {
    background-color: $am-gray-800;
    padding: 8px 16px;
    border-radius: 0;
    &:hover {
      color: $am-gray-800;
      background-color: $am-primary-main;
    }
  }
}
.table {
  & > thead {
    border-top: 2px solid $am-gray-100;
    border-bottom: 1px solid $am-gray-100;
    &.bt-0 {
      border-top: none;
    }
    &.bb-0 {
      border-bottom: none;
    }
  }
  & > :not(caption) > * > * {
    border: none;
    text-align: center;
    vertical-align: middle;
    height: max-content;
    &:nth-child(4) {
      max-width: 100px;
    }
  }
  &.claim-table {
    & > :not(caption) > * > * {
      border: none;
      text-align: center;
      vertical-align: middle;
      height: max-content;
      &:nth-child(4) {
        max-width: unset;
      }
    }
  }
}
.btn-close {
  opacity: 1;
}
.dropdown-toggle {
  & > .rotatableIcon {
    transition: all 300ms ease-in-out;
    transform: rotate(0deg);
  }
  &:focus {
    & > .rotatableIcon {
      transform: rotate(180deg);
    }
  }
}
.dropdown-menu {
  background-color: $am-nav-bg !important;
}
.box-nav {
  border: 2px solid $am-gray-500;
  border-radius: 4px;
  &-item {
    color: $am-primary-light;
    &.active {
      background-color: $am-primary-main;
      color: $am-gray-600;
      &:hover {
        color: $am-gray-600 !important;
      }
      & > span {
        color: $am-gray-600 !important;
      }
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:not(:last-child) {
      border-right: 2px solid $am-gray-500;
    }
  }
}
.select-gas {
  background: $am-gray-800;
  color: $am-primary-light;
  border: 1px solid $am-gray-400;
  & > p {
    font-weight: 500;
  }
  &:not(:last-child) {
    border-left: none;
  }
  &:first-child {
    border-radius: 8px 0 0 8px;
  }
  &:last-child {
    border-radius: 0 8px 8px 0;
  }
  &:hover,
  &.active {
    background-color: $am-primary-main;
    color: $am-dark-400;
    & > p {
      color: $am-dark-400;
    }
  }
}
tbody {
  & > tr {
    &:last-child td,
    &:last-child th {
      border: 0;
    }
  }
}
.vote_no_with_veto {
  &::before {
    border-radius: 50%;
    border: 2px solid $am-gray-700;
    background-color: $am-gray-700;
    vertical-align: 0;
  }
}
.slick-prev::before,
.slick-next::before {
  opacity: 1 !important;
  color: $am-dark-200 !important;
}

// -------------------------------------------------------------------------
// -------------------------------------------------------------------------

// MINIMAL CUSTOMIZATIONS TO THEME SET ACROSS THE APP
$assetmantle-yellow: #ffc640;
$primary: $assetmantle-yellow;

// THIS SHOULD ALWAYS BE THE LAST LINE OF THIS FILE. DO NOT ADD ANY STYLE ATTRIBUTES
// BELOW THIS IMPORT
@import "~bootstrap/scss/bootstrap";

body {
  font-family: $am-fontPrimary;
  color: $am-primary-light;
}
// Style resets
a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
input {
  accent-color: $assetmantle-yellow;
  outline: none;
  &[type="checkbox"] {
    background-color: transparent;
  }
  &[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.h1 {
  @include fontRoot(500, 2.25rem);
}
.h2 {
  @include fontRoot(500, 1.75rem);
}
.h3 {
  @include fontRoot(500, 1.25rem);
}
.h4 {
  @include fontRoot(700, 1.7rem);
}
.h5 {
  @include fontRoot(400, 1.5rem);
}
.h6 {
  @include fontRoot(500, 1.25rem);
}
// .h4 {
//   @include fontRoot(700, 1.8rem);
// }
.subtitle1 {
  @include fontRoot(600, 1.125rem);
  font-feature-settings: "liga" off;
}
.subtitle2 {
  @include fontRoot(500, 0.875rem);
}
.body1 {
  @include fontRoot(400, 1.375rem);
}
.body2 {
  @include fontRoot(400, 1.125rem);
}
.caption {
  @include fontRoot(400, 1rem);
}
.caption2 {
  @include fontRoot(400, 0.875rem);
}
.small {
  @include fontRoot(400, 0.75rem);
}
.bg-translucent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

// specific styles
.am_resp_right_ham {
  @media (max-width: 1199px) {
    position: fixed;
    display: flex !important;
    z-index: 1000;
    &.of_auto {
      overflow: auto;
      height: 100%;
    }
  }
}

.am-connect {
  border-color: $white;
  color: $white;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    border-color: $primary;
    color: $primary;
  }
  &ed {
    border-color: $primary;
    color: $primary !important;
    background-color: transparent !important;
    & > * {
      color: $primary;
    }
    &:focus,
    &:active,
    &:hover {
      background-color: transparent !important;
      border-color: $primary;
      color: $primary !important;
    }
  }
}
.am-select {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid $am-gray-200;
  outline: none;
  color: $primary;
  & > option {
    background-color: $am-gray-800;
    padding: 8px 16px;
    border-radius: 0;
    &:hover {
      color: $am-gray-800;
      background-color: $primary;
    }
  }
}

.transitionAll {
  transition: all 0.3s ease-in-out;
}
