.form-control{
    max-width: 300px;
    background: #f5f6fa;
    font-size: 14px;
    line-height: 150%;
    height: calc(2.3em + 0.75rem + 2px);
    border-radius: 0;
    border: 0 solid;
    color: #8d9cb5;
}