# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Staging

on:
  push:
    branches: [ main ]
jobs:
  testnet:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
    - run: npm ci
    - run: npm run build --if-present
      env:
        CI: false
        REACT_APP_API_KEY: 'https://rest.testnet.persistence.one'
        REACT_APP_TENDERMINT_RPC_ENDPOINT: 'https://rpc.testnet.persistence.one'
        REACT_APP_WEBSITE_URL: 'https://test-core-1.wallet.persistence.one'
        REACT_APP_EXPLORER_API: 'https://test-core-1.explorer.persistence.one'
        REACT_APP_MAIL_CHIMP_URL: 'https://one.us17.list-manage.com/subscribe/post?u=fd70c7f5c39a43acbedb49253&amp;id=7f8e2dbc48'
        REACT_APP_CHAIN_ID: 'test-core-1'
        REACT_APP_CHAIN_NAME: 'Persistence Testnet'
        REACT_APP_IBC_CONFIG: 'ibcStaging.json'
        REACT_APP_GA_TRACKING_ID: ''
        REACT_APP_SENTRY_API: ''
    - name: Publish
      uses: cloudflare/wrangler-action@1.3.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        environment: 'testnet-staging'


  mainnet:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
    - run: npm ci
    - run: npm run build --if-present
      env:
        CI: false
        REACT_APP_API_KEY: 'https://rest.core.persistence.one'
        REACT_APP_TENDERMINT_RPC_ENDPOINT: 'https://rpc.core.persistence.one'
        REACT_APP_WEBSITE_URL: 'https://staging.wallet.persistence.one'
        REACT_APP_EXPLORER_API: 'https://explorer.persistence.one'
        REACT_APP_MAIL_CHIMP_URL: 'https://one.us17.list-manage.com/subscribe/post?u=fd70c7f5c39a43acbedb49253&amp;id=7f8e2dbc48'
        REACT_APP_CHAIN_ID: 'core-1'
        REACT_APP_CHAIN_NAME: 'Persistence'
        REACT_APP_IBC_CONFIG: 'ibcMainnet.json'
        REACT_APP_GA_TRACKING_ID: 'UA-219210130-1'
        REACT_APP_SENTRY_API: 'https://a31c61f5ce774e0791ffdc3b830b406c@o1083089.ingest.sentry.io/6092403'
    - name: Publish
      uses: cloudflare/wrangler-action@1.3.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        environment: 'mainnet-staging'
